@import url('./reset.css');

@font-face {
  font-weight: normal;
	font-family: 'Suisse', "Arial", "Helvetica", sans-serif;
  src: url("../../../fonts/SuisseIntl-Book.woff");
}

@font-face {
  font-weight: bold;
	font-family: 'Suisse', "Arial", "Helvetica", sans-serif;
  src: url("../../../fonts/SuisseIntl-Bold.woff");
}

:root {
	/* Colors */
	--blackpure: #000000;
	--black: #171718;
	--black-border: #26292d;
	--white: #ffffff;
	--light-gray: #eae5e5;
	--purple: #5c62ec;
	--yellow: #e5c41d;
	--medium-gray: #7d7c79;
	--dust-blue: #5d8dd5;


	/* Light mode */
	--nav-bg: var(--medium-gray);
	--nav-text: var(--white);
	--header-bg: var(--white);
	--header-text: var(--black);
	--header-img: url('./../../../img/header-bg-gg.png');
	--page-bg: #f7f4e3;
	--text-color: var(--black);
	--accent: var(--dust-blue);
	--title-1: var(--black-border);
	--project-card-bg: var(--white);
	--project-card-text: var(--black);
	--box-shadow: 0 5px 35px rgb(0 0 0 / 25%);
	--footer-bg: var(--medium-gray);
	--footer-text: var(--white);

}

.dark {
	/* Dark mode */
	--nav-bg: var(--black);
	--nav-border: var(--black-border);
	--nav-text: var(--white);
	--footer-bg: var(--black);
	--footer-text: var(--white);
	--header-bg: var(--black);
	--header-text: var(--white);	
	--header-img: url('./../../../img/header-bg.png');
	--page-bg: #252526;
	--text-color: var(--white);
	--title-1: var(--white);
	--project-card-bg: var(--black);
	--project-card-text: var(--white);
	--box-shadow: 0 5px 35px rgb(0 0 0 / 80%);
	--accent: var(--purple);
}


body {
	height: 100vh;
	color: var(--text-color);
	font-weight: bold;
	font-family: 'DM Sans', sans-serif;
	font-family: 'Suisse', "Arial", "Helvetica", sans-serif;

	/* Light mode */
	background-color: var(--page-bg);
	-webkit-tap-highlight-color: transparent;
}

#root {
	display: flex;
  flex-direction: column;
	height: 100%;
}

