.btn_outline {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-end;
	min-width: 145px;
	max-height: 48px;
	padding: 10px;
	color: #000000;
  line-height: 1.37;
	column-gap: 10px;
	background-color: #ffffff;
	border: 1px solid #000000;
	border-radius: 5px;
	transition: opacity 0.2s ease-in;
}

.btn_outline:hover {
	opacity: 0.8;
}

.btn_outline:active {
	position: relative;
	top: 1px;
}