/* stylelint-disable selector-class-pattern */

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: fit-content;
	padding: 150px 15px;
	background-color: var(--page-bg);
	background-image: var(--header-img);
	background-repeat: no-repeat;
	background-position: center center;
}

.home_page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 100px 0 0;
	color: var(--header-text);
	text-align: center;
}

.home_page__title {
	margin-bottom: 20px;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.4;
}

.home_page__title strong {
	font-weight: 700;
	font-size: 60px;
}

.home_page__title em {
	color: var(--accent);
	font-style: normal;
}

.home_page__text {
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 1.33;
}

.btn {
	height: 48px;
	padding: 12px 28px;
	color: var(--white);
	font-weight: 500;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Suisse', "Arial", "Helvetica", sans-serif;
	line-height: 1.5;
	letter-spacing: 0.15px;
	background-color: var(--accent);
	border-radius: 5px;
	transition: opacity 0.2s ease-in;
}

.btn:hover {
	opacity: 0.8;
}

.btn:active {
	position: relative;
	top: 1px;
}


@media (width <= 620px) {
	.section {
		max-height: 500px;
		padding: 140px 15px 10px;
	}

	.home_page {
		padding: 0 15px 40px;
	}

	.home_page__title {
		font-size: 30px;
	}
	
	.home_page__title strong {
		font-size: 40px;
	}
}