/* stylelint-disable selector-class-pattern */

.nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	align-items: center;
	gap: 20px 30px;
	padding: 20px;
	color: var(--nav-text);
	letter-spacing: normal;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
}

.logo {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
}

.nav_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.nav_list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 30px;
	font-size: 16px;
}

.nav_list__link {
	color: var(--nav-text);
	font-weight: bold;
	font-family: 'Suisse', "Arial", "Helvetica", sans-serif;
}

.nav_list__link:hover {
	opacity: 0.8;
}

.nav_list__link__active {
	position: relative;
	color: var(--nav-text);
}

.nav_list__link__active::before {
	position: absolute;
	top: 100%;
	left: 0;
	display: block;
	width: 100%;
	height: 2px;
	background-color: var(--accent);
	content: '';
}

@media (width <= 620px) {
	.nav {
		justify-content: space-between;
	}

	.nav_list {
		gap: 15px;
	}	
}

@media (width <= 577px) {
	.nav_wrapper {
		flex-direction:column-reverse;
		align-items: flex-end;
		gap: 19px;
	}

	.nav_list {
		flex-direction: column;
		align-items: flex-end;
		font-size: 20px;	
	}

	.logo {
		align-self: flex-start;
	}
}

@media (width <= 320px) {
	.nav {
		display: block;
	}		
}



