.nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;

	padding: 20px 20px;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	color: var(--nav-text);
	letter-spacing: normal;
}

.logo {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 32px;
	font-family: 'Poppins', sans-serif;
}

.nav_wrapper {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}

.nav_list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
}

.nav_list__link {
	color: var(--nav-text);
	font-family: 'Suisse', Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.nav_list__link:hover {
	opacity: 0.8;
}

.nav_list__link__active {
	position: relative;
	color: var(--nav-text);
}

.nav_list__link__active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}

@media (max-width: 577px) {
	.nav_wrapper {
		flex-direction:column-reverse;
		align-items: flex-end;
		gap: 15px;
	}

	.nav_list {
		flex-direction: column;
		align-items: flex-end;
	}

	.logo {
		align-self: flex-start;
	}
}

@media (max-width: 620px) {
	.nav {
		justify-content: space-between;
	}
}

@media (max-width: 320px) {
	.nav {
		display: block;
	}	
}